<div class="sba-breadcrumb">
    <div class="sba-breadcrumb__inner" itemscope="" itemtype="http://schema.org/sba-BreadcrumbList">
        <span class="sba-breadcrumb__item sba-breadcrumb__item--text u-hidden">Vous êtes ici&nbsp;: </span>
        <span class="sba-breadcrumb__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="sba-breadcrumb__url" itemscope="" itemtype="http://schema.org/Thing" itemprop="item" title="Home" href="#">
                <span class="sba-breadcrumb__name" itemprop="name">Home</span>
            </a>
            <span class="sba-breadcrumb__separator">
                <svg width="6" height="9"><use xlink:href="/assets/media/svgs/spr-sba.svg#ltr-arrow"></svg>
            </span>
            <meta itemprop="position" content="1">
        </span>
        <span class="sba-breadcrumb__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="sba-breadcrumb__url" itemscope="" itemtype="http://schema.org/Thing" itemprop="item" title="First level" href="#">
                <span class="sba-breadcrumb__name" itemprop="name">First very very very long level</span>
             </a>
            <span class="sba-breadcrumb__separator">
                <svg width="6" height="9"><use xlink:href="/assets/media/svgs/spr-sba.svg#ltr-arrow"></svg>
            </span>
            <meta itemprop="position" content="2">
        </span>
        <span class="sba-breadcrumb__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="sba-breadcrumb__url" itemscope="" itemtype="http://schema.org/Thing" itemprop="item" title="Second level" href="#">
                <span class="sba-breadcrumb__name" itemprop="name">Second long level level</span>
             </a>
            <span class="sba-breadcrumb__separator">
                <svg width="6" height="9"><use xlink:href="/assets/media/svgs/spr-sba.svg#ltr-arrow"></svg>
            </span>
            <meta itemprop="position" content="3">
        </span>
        <span class="sba-breadcrumb__item sba-breadcrumb__item--target" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="sba-breadcrumb__url" itemscope="" itemtype="http://schema.org/Thing" itemprop="item" href="#">
                <span class="sba-breadcrumb__name" itemprop="name">Third very very long level</span>
            </a>
            <meta itemprop="position" content="4">
        </span>
    </div>
</div>
