

<!DOCTYPE html>


<html>


<body>

<form>
  Nom: {{page.nom_passeport}}<br>
  <input type="text" name="nom_passeport"><br>
  Prenom:{{page.prenom_passeport}}<br>
  <input type="text" name="prenom_passeport"><br>
  <input type="date" max="2012-06-25" min="2011-08-13" name="naissance_date_date"><br></br>


		<P>
		{{page.question}}
		<input type="radio" name="choix" value="oui" checked> Oui
		ou
		<input type="radio" name="choix" value="non"> Non
		<P>


  <h2>Adresse</h2>
   Rue: {{page.adresse.nom_rue}}<br>
  <input type="text" name="nom_rue"><br>
  code postale:{{page.adresse.code_postale}}<br>
  <input type="text" name="code_postale"></br>
  appartement:{{page.adresse.appartement}}<br>
  <input type="text" name="appartement"></br>
   etage:{{page.adresse.etage}}<br>
  <input type="text" name="etage"></br>

  <img src="/uploads/8f0532acfd_50077454_spider-face.jpg"></img><br></br>
  

  </form>

   
</body>
</html>



