---
layout: default
---

{% include breadcrumb.html %}


<div class="sba-body">
    <div class="sba-body-inner">
        <section class="grid sba-services-header" grid-gap="row">
            <div class="grid-item" grid-size="12/12">
                <h1 class="sba-t3">Provisionning Solutions</h1>
                <div class="sba-services-header__infos">
                    <span><strong>Optimised Aircraft Availability</strong></span>
                    <span>Applicability: <strong>Airbus fleet</strong></span>
                    <div class="sba-services-header__infos__supplier">
                        <span>Provided by :</span>
                        <div class="sba-services-header__infos__supplier-logo">
                            <img src="http://via.placeholder.com/350x50" alt="supplier-name">
                        </div>
                    </div>
                </div>
                <div class="sba-services-header__labels">
                    <span class="sba-services-header__labels__title">Aircraft Family : </span>
                    <span class="sba-services-header__labels__aircraft">A350</span>
                    <span class="sba-services-header__labels__aircraft">A320</span>
                    <span class="sba-services-header__labels__aircraft">A380</span>
                    <span class="sba-services-header__labels__aircraft">A310</span>
                </div>
                <div class="sba-services-header__description">
                    <p class="sba-services-header__description__text">For your entry into service, Services by Airbus
                        offers
                        an optimised initial provisioning package covering all material to start your operation.
                    </p>
                </div>
                <a class="sba-services-header__contact-btn sba-btn sba-btn--secondary">Contact us</a>
            </div>
        </section>
        <section class="sba-services-accordions">
            <div class="js-accordion" data-accordion-prefix-classes="sba">
                <span class="sba-t2 sba-services-accordions__accordion js-accordion__header"
                      data-accordion-opened="true">Provisioning Packages
                    <span class="sba-services-accordions__accordion__icon">
                        <svg>
                            <use xlink:href="/assets/media/svgs/spr-sba.svg#chevron_up"/>
                        </svg>
                    </span>
                </span>
                <div class="js-accordion__panel sba-accordion__panel">
                    <div class="sba-accordion__panel__content">
                        <div class="sba-accordion__panel__carousel">
                            <ul class="controls" id="sba-carousel__controls-0">
                                <li class="prev">
                                    <svg width="9" height="12">
                                        <use xlink:href="/assets/media/svgs/spr-sba.svg#ltr-arrow"/>
                                    </svg>
                                </li>
                                <li class="next">
                                    <svg width="9" height="12">
                                        <use xlink:href="/assets/media/svgs/spr-sba.svg#ltr-arrow"/>
                                    </svg>
                                </li>
                            </ul>
                            <div class="sba-accordion__panel__carousel__main" id="sba-carousel__main-0">
                                {% for item in site.data.service.carousel %}
                                <div>
                                    <div>
                                        <img class="img-covered" src="{{item.url}}" alt=""/>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <ul class="sba-accordion__panel__carousel__thumbnails" id="sba-carousel__thumbnails-0">
                                {% for item in site.data.service.carousel %}
                                <li>
                                    <img src="{{item.url}}" alt="">
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <h2>Lorem ipsum indolor</h2>
                        <p>Based on the Fly Away Kit Recommendation,
                            all parts and tooling required to take on-board
                            can
                            be
                            purchased via an Airbus Fly Away Kit Package deal at attractive special
                            requirements.</p>
                        <p>This solution provides the most convenient
                            way of purchasing all spares of the Fly Away
                            Kit
                            Recommendation. To minimise your administration process and to save parts ordering for
                            you.</p>
                        <p>By taking the recommended parts and tooling
                            on board the aircraft operators can become
                            independent of local parts, tooling availabilities and service providers. It is designed
                            to
                            save
                            grounding time caused by potential spares parts shortages at exotic destinations.</p>
                        <p>By taking the recommended parts and tooling
                            on board the aircraft operators can become
                            independent of local parts, tooling availabilities and service providers. It is designed
                            to
                            save
                            grounding time caused by potential spares parts shortages at exotic destinations.</p>
                        <p>By taking the recommended parts and tooling
                            on board the aircraft operators can become
                            independent of local parts, tooling availabilities and service providers. It is designed
                            to
                            save
                            grounding time caused by potential spares parts shortages at exotic destinations.</p>
                        <ul>
                            <li>Objects (aircraft, buildings, cranes, etc.) are modelled in 3D with high resolution</li>
                            <li>Resolution of ILS signal propagation equations uses exact methods</li>
                            <li>Airport ground levels are taken into account.</li>
                        </ul>
                        <a class="sba-btn sba-btn--secondary">Contact us
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="sba-services-accordions">
            <div class="js-accordion" data-accordion-prefix-classes="sba">
                <span class="sba-t2 sba-services-accordions__accordion js-accordion__header"
                      data-accordion-opened="true">Provisioning Packages
                    <span class="sba-services-accordions__accordion__icon">
                        <svg>
                            <use xlink:href="/assets/media/svgs/spr-sba.svg#chevron_up"/>
                        </svg>
                    </span>
                </span>
                <div class="js-accordion__panel sba-accordion__panel">
                    <div class="sba-accordion__panel__content">
                        <div class="sba-accordion__panel__carousel">
                            <ul class="controls" id="sba-carousel__controls-1">
                                <li class="prev">
                                    <svg width="9" height="12">
                                        <use xlink:href="/assets/media/svgs/spr-sba.svg#ltr-arrow"/>
                                    </svg>
                                </li>
                                <li class="next">
                                    <svg width="9" height="12">
                                        <use xlink:href="/assets/media/svgs/spr-sba.svg#ltr-arrow"/>
                                    </svg>
                                </li>
                            </ul>
                            <div class="sba-accordion__panel__carousel__main" id="sba-carousel__main-1">
                                {% for item in site.data.service.carousel %}
                                <div>
                                    <div>
                                        <img src="{{item.url}}" alt="">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <ul class="sba-accordion__panel__carousel__thumbnails" id="sba-carousel__thumbnails-1">
                                {% for item in site.data.service.carousel %}
                                <li>
                                    <img src="{{item.url}}" alt="">
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <h2>Lorem ipsum indolor</h2>
                        <p>Based on the Fly Away Kit Recommendation,
                            all parts and tooling required to take on-board
                            can
                            be
                            purchased via an Airbus Fly Away Kit Package deal at attractive special
                            requirements.</p>
                        <p>This solution provides the most convenient
                            way of purchasing all spares of the Fly Away
                            Kit
                            Recommendation. To minimise your administration process and to save parts ordering for
                            you.</p>
                        <p>By taking the recommended parts and tooling
                            on board the aircraft operators can become
                            independent of local parts, tooling availabilities and service providers. It is designed
                            to
                            save
                            grounding time caused by potential spares parts shortages at exotic destinations.</p>
                        <ul>
                            <li>Objects (aircraft, buildings, cranes, etc.) are modelled in 3D with high resolution</li>
                            <li>Resolution of ILS signal propagation equations uses exact methods</li>
                            <li>Airport ground levels are taken into account.</li>
                        </ul>
                        <a class="sba-btn sba-btn--secondary">Contact us
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="sba-services-accordions">
            <div class="js-accordion" data-accordion-prefix-classes="sba">
                <span class="sba-t2 sba-services-accordions__accordion js-accordion__header">Fly away kit packages
                    <span class="sba-services-accordions__accordion__icon">
                        <svg>
                            <use xlink:href="/assets/media/svgs/spr-sba.svg#chevron_up"/>
                        </svg>
                    </span>
                </span>
                <div class="js-accordion__panel sba-accordion__panel">
                    <div class="sba-accordion__panel__content">
                        <h2>Lorem ipsum indolor</h2>
                        <p>Based on the Fly Away Kit Recommendation,
                            all parts and tooling required to take on-board
                            can
                            be
                            purchased via an Airbus Fly Away Kit Package deal at attractive special
                            requirements.</p>
                        <p>This solution provides the most convenient
                            way of purchasing all spares of the Fly Away
                            Kit
                            Recommendation. To minimise your administration process and to save parts ordering for
                            you.</p>
                        <p>By taking the recommended parts and tooling
                            on board the aircraft operators can become
                            independent of local parts, tooling availabilities and service providers. It is designed
                            to
                            save
                            grounding time caused by potential spares parts shortages at exotic destinations.</p>
                        <ul>
                            <li>Objects (aircraft, buildings, cranes, etc.) are modelled in 3D with high resolution</li>
                            <li>Resolution of ILS signal propagation equations uses exact methods</li>
                            <li>Airport ground levels are taken into account.</li>
                        </ul>
                        <a class="sba-btn sba-btn--secondary">Contact us
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="sba-services-accordions">
            <div class="js-accordion" data-accordion-prefix-classes="sba">
                <span class="sba-t2 sba-services-accordions__accordion js-accordion__header">Fly away kit packages
                    <span class="sba-services-accordions__accordion__icon">
                        <svg>
                            <use xlink:href="/assets/media/svgs/spr-sba.svg#chevron_up"/>
                        </svg>
                    </span>
                </span>
                <div class="js-accordion__panel sba-accordion__panel">
                    <div class="sba-accordion__panel__content">
                        <h2>Lorem ipsum indolor</h2>
                        <p>Based on the Fly Away Kit Recommendation,
                            all parts and tooling required to take on-board
                            can
                            be
                            purchased via an Airbus Fly Away Kit Package deal at attractive special
                            requirements.</p>
                        <p>This solution provides the most convenient
                            way of purchasing all spares of the Fly Away
                            Kit
                            Recommendation. To minimise your administration process and to save parts ordering for
                            you.</p>
                        <p>By taking the recommended parts and tooling
                            on board the aircraft operators can become
                            independent of local parts, tooling availabilities and service providers. It is designed
                            to
                            save
                            grounding time caused by potential spares parts shortages at exotic destinations.</p>
                        <ul>
                            <li>Objects (aircraft, buildings, cranes, etc.) are modelled in 3D with high resolution</li>
                            <li>Resolution of ILS signal propagation equations uses exact methods</li>
                            <li>Airport ground levels are taken into account.</li>
                        </ul>
                        <a class="sba-btn sba-btn--secondary">Contact us
                        </a>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <section class="sba-services-benefits">
        <div class="sba-body-inner">
            <h3 class="sba-services-benefits__title">Benefits</h3>
            <ul class="sba-services-benefits__list">
                {% for benefit in site.data.service.benefits %}
                <li>{{benefit.text}}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <div class="sba-body-inner">
        <h3 class="sba-services-cards-title">You <span>may like</span></h3>
        <section class="sba-services-cards">
            <div class="sba-grid sba-grid--equalHeight sba-grid--1col@M sba-grid--2col@XL sba-grid--4col">
                {% for i in (1..4) %}
                <div class="sba-grid__item">
                    <a href="#">
                        <div class="sba-services-cards__card">
                            <div class="sba-services-cards__card__thumbnail">
                                <img src="/assets/media/images/img-card-{{i}}.png" alt="">
                                <span>Cross service number number number number {{i}}</span>
                            </div>
                            <div class="sba-services-cards__card__content">
                                <p class="sba-services-cards__card__content__title">Airbus Image
                                    0{{i}}<span>Safety</span></p>
                                <p class="sba-services-cards__card__content__text">Ergo ego senator inimicus, si
                                    ita vultis, homini, amicus esse, sicut semper fuigo senator inimicus, si
                                    ita vultis, homini, amicus esse, sicut semper fuigo senator inimicus, si
                                    ita vultis, homini, amicus esse, sicut semper fui, rei publicae…</p>
                                <ul class="sba-services-cards__card__content__list">
                                    <li>A350</li>
                                    <li>A380</li>
                                    <li>A320</li>
                                    <li>A320</li>
                                    <li>A320</li>
                                    <li>A320</li>
                                </ul>
                                <div class="sba-services-cards__card__content__cta">
                                    <button class="sba-btn">More</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
