---
layout: default
---

{% include breadcrumb.html %}


<div class="sba-body">
    <div class="sba-body-inner">
        <section class="grid sba-services-header" grid-gap="row">
            <div class="grid-item" grid-size="12/12">
                <h1 class="sba-t3">{{page.title}}</h1>

                 
                   
                  {% assign cluster = site.clusters | where:"title"| first %}    
                    <div class="sba-services-header__infos">
                      
                    <span><strong>{{cluster.title}}</strong></span>

                    <span>Applicability: <strong>{{page.cluster}}</strong></span>
                    <div class="sba-services-header__infos__supplier">
                        <span>{{page.Provided_by}}</span>

                        <div class="sba-services-header__infos__supplier-logo">
                            <img src="{{page.image}}" alt="supplier-name">

                        </div>
                    </div>
                   
                </div>
               
                <div class="sba-services-header__labels">


                    <span class="sba-services-header__labels__title">Aircraft Family: </span>
                        {% for tag in page.Tags limit:2 %}
                        <span class="sba-services-header__labels__aircraft">{{ tag }}</span>
                        {% endfor %}
                    
                 
                </div>
                <div class="sba-services-header__description">
                    <p class="sba-services-header__description__text">For your entry into service, Services by Airbus
                        offers
                        an optimised initial provisioning package covering all material to start your operation.
                    </p>
                </div>
                <a class="sba-services-header__contact-btn sba-btn sba-btn--secondary">Contact us</a>
            </div>
        </section>


{% for Accordion in page.Accordions %}

        <section class="sba-services-accordions">
            <div class="js-accordion" data-accordion-prefix-classes="sba">
                <span class="sba-t2 sba-services-accordions__accordion js-accordion__header"
                      data-accordion-opened="true">{{Accordion.title}}
                    <span class="sba-services-accordions__accordion__icon">
                        <svg>
                            <use xlink:href="/assets/media/svgs/spr-sba.svg#chevron_up"/>
                        </svg>
                    </span>
                </span>
                <div class="js-accordion__panel sba-accordion__panel">
                    <div class="sba-accordion__panel__content">
                        <div class="sba-accordion__panel__carousel">
                            <ul class="controls" id="sba-carousel__controls-0">
                                <li class="prev">
                                    <svg width="9" height="12">
                                        <use xlink:href="/assets/media/svgs/spr-sba.svg#ltr-arrow"/>
                                    </svg>
                                </li>
                                <li class="next">
                                    <svg width="9" height="12">
                                        <use xlink:href="/assets/media/svgs/spr-sba.svg#ltr-arrow"/>
                                    </svg>
                                </li>
                            </ul>
                            <div class="sba-accordion__panel__carousel__main" id="sba-carousel__main-{{forloop.index0}}">

                                {% for image in Accordion.accordions_image | first%}
                              

                                <div>
                                    <div>
                                       <img class="img-covered" src="{{image}}" alt=""/>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <ul class="sba-accordion__panel__carousel__thumbnails" id="sba-carousel__thumbnails-{{forloop.index0}}">
                                  {% for image in Accordion.accordions_image %}
                                <li>
                                    <img src="{{image}}" alt="">
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {{Accordion.text}}
                        <a class="sba-btn sba-btn--secondary">Contact us
                        </a>
                    </div>
                </div>
            </div>

             {% endfor %}
        </section>




       
    </div>
    <section class="sba-services-benefits">
        <div class="sba-body-inner">
            <h3 class="sba-services-benefits__title">Benefits</h3>
            <ul class="sba-services-benefits__list">
                {% for Benefits in page.Benefits %}
                <li>{{Benefits}}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <div class="sba-body-inner">
        <h3 class="sba-services-cards-title">You <span>may like</span></h3>
        <section class="sba-services-cards">
            <div class="sba-grid sba-grid--equalHeight sba-grid--1col@M sba-grid--2col@XL sba-grid--4col">

                {% for service_title in page.services %}
                {% assign service = site.services | where:"title", service_title | first %} 

                <div class="sba-grid__item">
                    <a href="#">
                        <div class="sba-services-cards__card">
                            <div class="sba-services-cards__card__thumbnail">
                                <img src="{{service.image}}" alt="">
                                <span>{{service.title}}</span>
                            </div>
                            <div class="sba-services-cards__card__content">
                                <p class="sba-services-cards__card__content__title">cluster
                                    {{i}}<span>{{service.Airbus_fleet}}</span></p>
                                <p class="sba-services-cards__card__content__text">For your entry into service, Services by Airbus offers an optimised initial provisioning package covering all material to start your operation.</p>
                                <ul class="sba-services-cards__card__content__list">

                                   
                                    
                                    {% for tags in service.Tags %}
                                    <li>{{tags}}</li>
                                    {% endfor %}

                                </ul>
                                <div class="sba-services-cards__card__content__cta">
                                    <button class="sba-btn">More</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                {% endfor %}
            </div>
        </section>
    </div>
</div>
